node_modules/
expo-env.d.ts
dist/
build/
ios/
android/
*.local
*.log
.env
.env.local
.env.production
.DS_Store
Thumbs.db
*.orig.*
coverage/
.idea/
.vscode/
*.pbxproj
*.pbxproj.user
*.xcodeproj
*.xcworkspace
EAS-build-log-*
